# These owners will be the default owners for everything in the repo
* @sirine707

# Backend code owners
/backend/ @sirine707

# Frontend code owners
/frontend/ @sirine707

# Admin dashboard code owners
/admin/ @sirine707